<div className="w-11/12 m-auto ">
    <div  class="product">
        <div  >
          <img src={`${product.img}`} alt="" className="w-28 m-auto" />
          <h1 className="w-48  m-auto text-center mt-3 text-sm">
            {{product.name}}
          </h1>
          <div className="flex mt-4 justify-around">
            <p className="text-red-500 font-bold">
              {{product.price}}
            </p>
         
          </div>
         
        </div>
       
        </div>
        <div>
          
        </div>
    </div>